@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(16, 16, 16);
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 80vh;
  gap: 15px;
}
@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 70vh;
    gap: 15px;
    overflow: visible;
  }
}

.container > * {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 70px;
  position: relative;
  flex: 1;
  cursor: pointer;
  transition: ease-in 0.8s;
  border: 5px solid whitesmoke;
}
.container > *:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 10px rgba(254, 254, 254, 0.4);
}

.panel p {
  font-size: 2rem;
  color: whitesmoke;
  bottom: 15px;
  font-family: "Raleway", sans-serif;
  left: 20px;
  position: absolute;
  opacity: 0;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

.panel.active {
  flex: 9;
}

/* for that cool transition */
.panel.active p {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
